{
    "Address": "example.com:5222",
    "BotJid": "twtxt@mdosch.de",
    "Password": "ChangeThis!",
    "Twtxtpath": "/usr/local/bin/twtxt",
    "ControlJid": "user@example.com",
    "TimelineEntries": 10,
    "MaxCharacters": 140
}
