{
    "Address": "example.com:5222",
    "BotJid": "bot@example.com",
    "Password": "ChangeThis!",
    "ControlJid": "user@example.com",
    "Twtxtnick": "mdosch",
    "TimelineEntries": 10,
    "MaxCharacters": 140
}
